.header {
background-color: $custom-light-yellow;

		@media screen and (min-width: 768px) {
        // background: none;
		}
  
	.navbar-toggle {
		

		&[aria-expanded="true"] {

			.icon-bar {

				// &:nth-of-type(2) {
				// 	transform: rotate(45deg);
				// }

				// &:nth-of-type(3) {
				// 	opacity: 0
				// }

				// &:last-of-type {
				// 	transform: rotate(-45deg);
				// }
			}
		}
	}

   .navbar {
     margin-bottom: 0;
     border-width: 0;
     border-radius: 0;
     text-shadow: none;

        @media screen and (min-width: 768px) {
        margin-top: 30px;
		}
    }


	.navbar-nav {

        @media screen and (min-width: 768px) {
	        float: none;
	        justify-content: center;
		}
		
		>li {

			>a {
				   
				//text-transform: uppercase;
			}
		}
	}
}

.icon-holder {
	float: left;
	padding-left: 10px;
	margin-top: 5px;
	height: 50px;
	width: 140px;
	
}

.holder-right  {
	float: right;
}