.common-section {
	padding: 30px 0;
	h1 {
		font-size:  30px;
	}
}

.intro-block {
background-color: $custom-light-yellow;

/*text-shadow: 0 0 2px #fff;

    @media screen and (max-width: 991px) {
    	background-image: none !important;
    }   */
}

.p-font-size {
	font-size: 20px;
	line-height: 1.2;

}


.p-font-size-30 {
	font-size: 30px;
	line-height: 1.2;
    color: $custom-light-yellow;;      
}

 


.text-alig-center {
	text-align: center;
}

.text-alig-center {
	text-align: center;
}

.title-holder {
	margin-bottom: 30px;

	.provided & {
		margin-bottom: 15px;
	}
}

.padding-top-130 {
	padding-top: 130px;
}

.padding-top-85 {
	padding-top: 85px;
}

   
.img-holder {
	float: left; 
	width: 100px; 
	height: 100px;
 }

 .inline-img  {
 	width: 100%;
 	margin-top: 30px;
 }



.bg-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

 .img-slide-holder {
    max-width: 465px;
    max-width: 320px;
    margin: 0 auto;
    position: relative;

	&:hover {

		&:before  {
		opacity: 0;
		}
	}

   &:after {
   	content: '';
   	display: inline-block;
   	vertical-align: top;
     padding-top: 150%;

   }

 
  
	@media (min-width: 1024px) {
	min-height: 100%;
	}
}  

.midle-content  {
  text-align: center;
  position: relative;
  padding-bottom: 20px;
}
  

.col {
	padding: 0 15px;  
	float: left;
    margin-bottom: 20px;
}

.bordered {
	border: 2px solid red;
	  
}

.bg-holder {
	background-color: aqua;
}

.bg-ivers {
   background-color: $custom-black;

}

.text-color-white {
color: $custom-white;
}

.padding-top-50 {
	padding-top: 50px;
}


.subscribe-form {  
/*  padding-top: 100px;
  padding-left:    250px; */ 
  max-width: 750px;
  display: flex;
    align-items: center; // РІС‹СЂР°РІРЅРёРІР°РµС‚ РїРѕ РІРµСЂС‚РёРєР°Р»Рё 
   justify-content: center;
   margin-top: 30px;  
  margin-left: 120px;
}    

.row-form-getintaech {
  display: flex;
   max-width: 750px;
   min-width: 600px; 
   padding: 35px;
  &.center {
    justify-content: center;
  }
  }   

.subscribe-email {
  width: 100%;
  color: $custom-white;
}



.btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  /*padding: 10px 15px;
  text-decoration: none;
  background:  transparent;
   margin-left: -15px;*/
    color: $custom-black;
    background-color: $custom-light-yellow;
    transition: .3s transform;
    font-size: 16px;
    border: 2px solid $custom-light-yellow;
    border-radius: 5px;
    padding: 10px 15px;
    outline: none;
    &.active,
    &:hover {
      background: red;
      color:  white;
    }
}


.rounded {
  border-radius: 6px; 
}
