$base-font:   'PT Sans', sans-serif;


$custom-dark-gray: #313030;
$custom-white: #ffffff;
//$custom-red: #ff2d2d;
$custom-black: #000;
$custom-gray: #010101;     // font color
$custom-gray-lighter: #ececec;       
$custom-gray-light: #e5e5e5;  

$custom-light-yellow: #fcdb00;
$custom-dark:  #010101; 

$custom-dark-font: #010101;